@model ParfumeListViewModel


<h1>Parfume online shop</h1>

@Model.CurrentCategory
<br/>
<div class="row">
    @foreach (var parfume in Model.Parfumes)
    {
        @Html.Partial("ParfumeOverViewSummary", parfume);
    }
</div>
